body {
  font-family: "Sawarabi Mincho", sans-serif;
  background-color: antiquewhite;
}

header {
  height: 80px;
}

main > div {
  height: calc(100vh - 80px);
}

.hook {
  width: 1000px;
}

.hook > h2 {
  transition: all 0.2s;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.hook > h2:hover {
  border-bottom: 2px solid #000;
  transition: all 0.2s;
}

.hook > img {
  width: 450px;
  height: 300px;
  object-fit: cover;
  transition: all 0.5s;
  cursor: pointer;
}

.hook > img:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.fas {
  cursor: pointer;
  font-size: 30px;
  transition: all 0.5s;
}

.fas:hover {
  transition: all 0.5s;
  transform: scale(2);
}
