body {
  font-family: "Sawarabi Mincho", sans-serif;
  background-color: antiquewhite;
}

main {
  height: 100vh;
}

.hook {
  width: 1000px;
  border: 2px solid #000;
}

.fas {
  cursor: pointer;
  font-size: 30px;
}
