* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hook {
  height: 500px;
  width: 500px;
  margin: 0 50px;
  border: 2px solid #000;
}

.fas {
  cursor: pointer;
  font-size: 30px;
}
