body {
  font-family: "Sawarabi Mincho", sans-serif;
  background-color: antiquewhite;
}

main > div {
  height: 100vh;
}

.hook {
  width: 1000px;
}

hook-title

.fas {
  cursor: pointer;
  font-size: 30px;
}
